:root {
  --color-a-blue-500: #2055cc;
  --color-a-red-500: #e0001a;
  --color-a-red-300: #ff7081;
  --color-a-yellow-500: #f6a800;
  --color-a-yellow-400: #ffb924;
  --color-a-yellow-200: #ffdf99;
  --color-a-yellow-100: #fdeed5;
  --color-a-convert-300: #14ffa7;
  --color-a-convert-500: #19cd89;
  --color-a-modeules-ccadency: #8c1db1;
  --color-a-cold-gray-900: #02182b;
  --color-a-cold-gray-800: #032949;
  --color-a-cold-gray-700: #143d5f;
  --color-a-cold-gray-600: #3c617f;
  --color-a-cold-gray-500: #6b879e;
  --color-a-cold-gray-400: #b0c4d5;
  --color-a-cold-gray-200: #eef5fb;
  --color-a-cold-gray-150: #f6fafd;
  --color-a-cold-blue-100: #e1e7f9;

  --menu-container-background-color: var(--color-a-cold-gray-150);
  --menu-container-header-background-color: var(--color-a-cold-blue-100);
  --menu-container-header-text-color: var(--color-a-cold-gray-600);
  --timeline__item-content-background-color: var(--color-a-cold-gray-1000);
  --timeline__item-content-text-color: var(--color-a-cold-gray-600);
  --border-color: var(--color-a-cold-gray-400);
  --input-color: var(--color-a-cold-gray-500);
  --timeline__item-content-status-background-color: var(--color-a-convert-200);
  --timeline__item-footer-background-color: var(--color-a-cold-gray-200);
  --timeline__item-footer-text-color: var(--color-a-cold-gray-500);
  --circle-background-color: var(--color-a-cold-gray-500);
  --circle-text-color: var(--color-a-cold-gray-1000);
  --primary-color: var(--color-a-convert-500);
  --input-background-color: var(--color-a-cold-gray-1000);
}

.dark {
  --menu-container-background-color: var(--color-a-cold-gray-900);
  --menu-container-header-background-color: var(--color-a-cold-gray-700);
  --menu-container-header-text-color: var(--color-a-cold-gray-400);
  --timeline__item-content-background-color: var(--color-a-cold-gray-800);
  --timeline__item-content-text-color: var(--color-a-cold-gray-400);
  --border-color: var(--color-a-cold-gray-500);
  --input-color: var(--color-a-cold-gray-500);
  --timeline__item-content-status-background-color: var(--color-a-convert-200);
  --timeline__item-footer-background-color: var(--color-a-cold-gray-800);
  --timeline__item-footer-text-color: var(--color-a-cold-gray-400);
  --input-background-color: var(--color-a-cold-gray-800);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style do kontenera menu */

.menu-container {
  font-family: "Sana-Sans-Alt", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 440px;
  width: 100%;
  margin: 24px;
  background-color: var(--menu-container-background-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-image: url(./../module_background.svg);
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.menu-container__header {
  background-color: var(--menu-container-header-background-color);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  font-weight: bold;
  color: var(--menu-container-header-text-color);
  border-radius: 8px 8px 0 0;
}

.menu-container__content {
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Style do poszczególnych modułów */
.menu-container__content-list-items {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.menu-container__content-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--circle-background-color);
  color: var(--circle-text-color);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.menu-container__content-list-item:hover,
.list-item-active {
  background-color: var(--primary-color);
  transform: translateY(-4px);
}

.menu-container__top-section__input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}

.menu-container__top-section__input-container:first-child {
  margin-top: 0;
}

.menu-container__top-section__input-container__label {
  font-size: 14px;
}

.menu-container__top-section__input-container__input {
  width: 100%;
  height: 38px;
  border-radius: 12px;
  background-color: var(--input-background-color);
  border: 1px solid var(--border-color);
  padding: 8px;
  font-size: 14px;
  font-family: inherit;
  line-height: 1.5;
}

.menu-container__top-section__input-container__input::placeholder {
  color: var(--placeholder-color);
}

.menu-container__top-section__input-container-row {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.menu-container__top-section__input-container-row > div {
  flex: 1;
}

.menu-container__top-section__input-container-row
  .menu-container__top-section__input-container {
  margin-top: 0;
}

.menu-container__content-new-audit-container-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
  border-radius: 12px;
}

.menu-container__content-new-audit-container-item-label {
  font-size: 14px;
}

.required-label::after {
  content: "*";
  color: red;
}

.menu-container__content-new-audit-container-item-mark-type-container {
  display: flex;
  gap: 12px;
  margin-top: 4px;
}

.menu-container__content-new-audit-container-item-mark-type-container button {
  width: 100%;
  height: 36px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  padding: 0 12px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.menu-container__content-new-audit-container-item-type-container-with-border {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 4px;
  background-color: var(--color-a-cold-gray-1000);
  margin-top: 4px;
}

.menu-container__content-new-audit-container-searcher-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
}

.menu-container__content-new-audit-container-searcher-list-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.item_checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-a-cold-gray-400);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.item_checkbox:focus {
  outline: 1px solid var(--outline-color);
}

.item_checkbox:checked {
  background-color: var(--color-a-red-500);
}

.item_checkbox:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-image: url("check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-container__content-new-audit-container-searcher-list {
  max-height: 200px;
  overflow-y: auto;
}

.menu-container__content-new-audit-container-confirmation-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.menu-container__content-new-audit-container-searcher input {
  width: 100%;
  height: 36px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  padding: 0 12px;
}

.menu-container__content-new-audit-container-searcher {
  display: flex;
  position: relative;
  margin-top: 4px;
}

.menu-container__content-new-audit-container-searcher input {
  width: 100%;
  height: 36px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  padding: 0 12px;
}

.menu-container__content-new-audit-container-searcher img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-container__content-list-item-2 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0px;
  border-radius: 12px;
  background-color: var(--color-a-cold-gray-1000);
  cursor: pointer;
  font-size: 14px;
}

.menu-container__content-new-audit-container-item-type-container-with-border__button {
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  color: var(--color-a-cold-gray-1000);
  cursor: pointer;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
}
